@model MVCSample.Models.Employee

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>Employee</h4>
   <table>
       <tr>
           <td>
               <b>ID</b>
           </td>
           <td>
               @Model.Employee_ID
           </td>
       </tr>
       <tr>
           <td><b>Name</b></td>
           <td>@Model.Employee_Name</td>
       </tr>
       <tr>
           <td><b>Salary</b></td>
           <td>@Model.Employee_Salary</td>
       </tr>
       <tr>
           <td><b>Department ID</b></td>
           <td>@Model.Employee_Department</td>
       </tr>
   </table>
</div>
