<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.6" />
      <httpRuntime targetFramework="4.6" />
      <pages>
        <controls>
          <!--<add src="~/CustomControls/HomeBtn.ascx" tagName="HomeBtn" tagPrefix="Pigeon"/>
          <add src="~/CustomControls/CommonBtns.ascx" tagName="CommonBtns" tagPrefix="Pigeon"/>
        <add src="~/CustomControls/PersonalInfo.ascx" tagName="PerInfo" tagPrefix="Pigeon"/>-->
        </controls>
      </pages>
    </system.web>
  <connectionStrings>
    <add name="DBCS" providerName="System.Data.SqlClient" connectionString="server=.\SQLEXPRESS; database=BankData; user id=SA; password=Pigeon12@"/>
  </connectionStrings>
</configuration>
